.index {
	background: #F0F8FF;
	text-align: center;
}

#header {
	font-family: Baskerville, "Bskerville Old Face", "Goudy Old Style";
	
	font-size: 100px;

};

#subhead {
	font-family:  Baskerville, "Bskerville Old Face", "Goudy Old Style";
	color: white;

}

.indexbuttons button {
	display: inline;
}

.buttons {
	border-radius: 4px;
	font-size: 24px;
	font-family: Baskerville, "Bskerville Old Face", "Goudy Old Style";
	color:white;
}

.buttonmenu {
	list-style-type: none;
}

.buttonmenu button {
	display: block;
}